In [1]:
# libraries
import pandas as pd
import string
import numpy as np
from nltk.tokenize import word_tokenize

In [11]:
import os
os.listdir('.\\processed\\Split_Data\\Splitted')

['test.csv', 'train.csv', 'validate.csv']

In [12]:
df=pd.read_csv('.\\processed\\Split_Data\\Splitted\\train.csv',low_memory=False)

In [13]:
rTxt=df.iloc[:,1]

In [14]:
print(len(rTxt))

41028

In [17]:
df.head(10)

,ReviewID,ReviewText,Sentiments
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1
3,425325848,One tell aspect quality hotel people - knowled...,1
4,80516690,"freindly staff , helpful suggestion courteous ...",1
5,299280616,"classic hotel simply . Great location , large ...",1
6,129532634,celebrate mother lawâs 80th birthday along b...,1
7,148340394,stay 3 friend go see Motorhead 02 location gre...,1
8,360880081,"solo traveller , would highly recommend B & ; ...",1
9,26876156,fortunate enough marry Auberge Saint-Antoine ....,1

In [108]:
a=['Hello awais : how ! are ? yo:u:::??','Hello bro : how ! are ? you?!$$?','dhfoishfo']

In [18]:
import numpy as np

In [19]:
## count=0
finalcount=[]
for i in range(0,len(rTxt)):
    newcount=[]
    count=0
    for j in range(0,len(rTxt[i])):
        if rTxt[i][j] == ':' or rTxt[i][j] == '!' or rTxt[i][j] == '?':
            count=count+1
    finalcount.append(count)
# 
# for i in a:
#     if i == ':' or i == '!' or i == '?':
#         count=count+1

In [22]:
# df.insert(len(df.columns), 'Punctuations', finalcount)
# df.insert(len(df.columns), 'Punctuations', finalcount)
# df.drop('Subjectivity_Score', axis=1, inplace=True)
# # name=df.iloc[:,3]
# df.head()
len(df)
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1,0
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1,3
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1,4
3,425325848,One tell aspect quality hotel people - knowled...,1,0
4,80516690,"freindly staff , helpful suggestion courteous ...",1,0

In [23]:
df.to_csv('.\\features\\afterPunctuations.csv', index=False)
print('removed col and added it back in')

removed col and added it back in

### Subjectivity Score

In [24]:
df=pd.read_csv('.\\features\\afterPunctuations.csv',low_memory=False)

In [25]:
df.head(3)

,ReviewID,ReviewText,Sentiments,Punctuations
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1,0
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1,3
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1,4

In [122]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\awais\anaconda3\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: regex in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: tqdm in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Requirement already satisfied: click in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [26]:
from textblob import TextBlob

In [27]:
blob=TextBlob(" The rooms are very spacious and well maintained but i could say that no its bad")
print(blob.sentiment)

Sentiment(polarity=-0.24999999999999992, subjectivity=0.4833333333333333)

In [28]:
r_txt=df['ReviewText']

In [29]:
r_txt

0        Enjoyed stay hotel . clean please dcor . reall...
1        B & ; B 200 step entrance Tower Pisa ( additio...
2        wife one nighter nola oct 15 ( part 25th anniv...
3        One tell aspect quality hotel people - knowled...
4        freindly staff , helpful suggestion courteous ...
                               ...
41023    room strange smell 2 single bed , ask double ,...
41024    Stopped way back west coast . Little know , ru...
41025    hotel 'average ' 're past 11 check , 're charg...
41026    like interestingly stain carpet , smoke-staine...
41027    've stay & ; C probably 10 time last 15 year ,...
Name: ReviewText, Length: 41028, dtype: object

In [30]:
subjectivity=[]
for i in range(0,len(r_txt)):
    blob=TextBlob(r_txt[i])
    sub=blob.sentiment.subjectivity
    subjectivity.append(sub)
print(len(subjectivity))

41028

In [31]:
df.insert(len(df.columns), 'Subjectivity_Score', subjectivity)

In [32]:
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1,0,0.622222
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1,3,0.572321
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1,4,0.615556
3,425325848,One tell aspect quality hotel people - knowled...,1,0,0.477500
4,80516690,"freindly staff , helpful suggestion courteous ...",1,0,0.750000

In [33]:
df.to_csv('.\\features\\aftersubjectivity.csv', index=False)
print('removed col and added it back in')

removed col and added it back in

### Count of words with +ve,-ve and ~ sentiments in docs

In [34]:
df=pd.read_csv('.\\features\\aftersubjectivity.csv',header='infer')
rTxt=df['ReviewText']

In [35]:
# loading positve lexicon
f = open(".\\datasets\\lexicons\\pos.txt", "r")
poslex=[]
for i in f:
    poslex.append(i.strip())

In [39]:
# loading negative lexicon
f = open(".\\datasets\\lexicons\\neg.txt", "r")
neglex=[]
for i in f:
    neglex.append(i.strip())

In [40]:
positiveCount=[]
negativeCount=[]
neutralCount=[]
for i in range(0,len(rTxt)):
    word_tokens = word_tokenize(r_txt[i])
    temppos=0
    tempneg=0
    tempneu=0
    for token in word_tokens:
        if token not in punctuations:
            if token in poslex:
                temppos=temppos+1
                continue
            elif token in neglex:
                tempneg=tempneg+1
                continue
            else:
                tempneu=tempneu+1
                continue
    positiveCount.append(temppos)
    negativeCount.append(tempneg)
    neutralCount.append(tempneu)

In [41]:
# update dataframe and store to excel
df.insert(len(df.columns), 'PositiveCount', positiveCount)
df.insert(len(df.columns), 'NegativeCount', negativeCount)
df.insert(len(df.columns), 'NeutralCount', neutralCount)
# store the dataframe to csv
df.to_csv('.\\features\\afterPNN.csv', index=False)
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score,PositiveCount,NegativeCount,NeutralCount
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1,0,0.622222,9,0,23
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1,3,0.572321,10,1,44
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1,4,0.615556,13,3,63
3,425325848,One tell aspect quality hotel people - knowled...,1,0,0.477500,9,1,84
4,80516690,"freindly staff , helpful suggestion courteous ...",1,0,0.750000,2,0,21

### TF-IDF of top 10 recurring words

In [3]:
df=pd.read_csv('.\\features\\aftersubjectivity.csv',header='infer')
df.head(5)

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score
0,496345724,"like hotel , walk distance almost everything ....",1,1,0.683333
1,63423579,"one best place stay around st. john 's , close...",1,0,0.510000
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0,0.572222
3,157142537,ok hotel great location . Room dark little dat...,1,0,0.643750
4,280247939,beautiful hotel staff really go way make welco...,1,0,0.621212

In [4]:
d1=df.loc[df['Sentiments']==1] #d1 is positive documnet
d2=df.loc[df['Sentiments']==-1] #d2 is negative documnet
d3=df.loc[df['Sentiments']==0] #d3 is neutral documnet

In [5]:
pUni=d1['ReviewText'].str.split(' ', expand=True).stack().unique()
len(pUni)

59861

In [6]:
doc1=[]
for i in pUni:
    if i not in string.punctuation:
        doc1.append(i.lower())

In [279]:
print(len(doc1))

59831

In [280]:
negUni=d2['ReviewText'].str.split(' ', expand=True).stack().unique()
len(negUni)

17562

In [281]:
doc2=[]
for i in negUni:
    if i not in string.punctuation:
        doc2.append(i.lower())

In [282]:
print(len(doc2))

17535

In [283]:
neuUni=d3['ReviewText'].str.split(' ', expand=True).stack().unique()
len(neuUni)

22848

In [284]:
doc3=[]
for i in neuUni:
    if i not in string.punctuation:
        doc3.append(i.lower())
print(len(doc3))

22818

In [285]:
rTxt=df['ReviewText']

In [286]:
# getting top 10 recurring words
from itertools import chain
unlist="".join(str(i) for i in chain(*rTxt))

In [38]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

In [288]:
# remove punctuation from the string
no_punct = ""
for char in unlist:
   if char not in punctuations:
       no_punct = no_punct + char
# display the unpunctuated string
print(no_punct)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [289]:
from collections import Counter
word_list = no_punct.split()
word_count = Counter(word_list)

In [449]:
# top 10 recuring words in the dataset
a=[]
temp=word_count.most_common(10)
for i in temp:
    print(i[0])
    a.append(i[0])
# a[5] is nt which means not

room
hotel
stay
staff
good
nt
great
night
would
clean

In [306]:
# tf - term frequency
# formulae : tf=no of times term t appears in a document/ total number of terms in the document
textfile = open(".\\neg.txt", "w", encoding="utf-8")
for element in doc2:
    textfile.write(element + "\n")
textfile.close()

In [393]:
# for doc1
d1=[]
for i in a:
    print(doc1.count(i))
    d1.append(doc1.count(i)/len(doc1))

4
5
3
6
3
2
3
3
3
4

In [392]:
# for doc2
d2=[]
for i in a:
    print(doc2.count(i))
    d2.append(doc2.count(i)/len(doc2))
print(d2)

3
3
3
3
3
1
3
3
3
3
[0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 5.70287995437696e-05, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882]

In [391]:
# for doc3
d3=[]
for i in a:
    temp=doc3.count(i)
    temp=temp/len(doc3)
    print(temp)
    d3.append(temp)

0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
4.382505039880796e-05
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388

In [454]:
tfmat=pd.DataFrame(columns=a)

In [457]:
a_series = pd.Series(d3, index = tfmat.columns)
tfmat = tfmat.append(a_series, ignore_index=True)

In [458]:
as_list = tfmat.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
tfmat.index = as_list

In [459]:
tfmat.head()

,room,hotel,stay,staff,good,nt,great,night,would,clean
D1,0.000067,0.000084,0.000050,0.000100,0.000050,0.000033,0.000050,0.000050,0.000050,0.000067
D2,0.000171,0.000171,0.000171,0.000171,0.000171,0.000057,0.000171,0.000171,0.000171,0.000171
D3,0.000131,0.000131,0.000131,0.000131,0.000131,0.000044,0.000131,0.000131,0.000131,0.000131

In [370]:
idf1=[]
for t in a:
    temp=3/3
    idf1.append(temp)

In [476]:
idfmat=pd.DataFrame(columns=a)

In [485]:
idfmat.head()

    room  hotel  stay  staff  good   nt  great  night  would  clean
D1   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D2   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D3   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0

In [484]:
as_list = idfmat.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
idfmat.index = as_list

In [496]:
l1=[]
l2=[]
l3=[]
for i in a:
    if i in doc1 and i in doc2 and i in doc3:
        l1.append(np.log10(3/3))
        l2.append(np.log2(3/3))
        l3.append(np.log2(3/3))

In [480]:
a_series = pd.Series(l3, index = idfmat.columns)
idfmat = idfmat.append(a_series, ignore_index=True)

In [ ]:
# tf idf matrix

In [497]:
sum=[]
for i in range(0,len(d1)):
    sum.append(d1[i]*l1[i])
print(sum)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [511]:
tfidf=pd.DataFrame(columns=a)

Empty DataFrame
Columns: [room, hotel, stay, staff, good, nt, great, night, would, clean]
Index: []

In [518]:
tfidf.head()

    room  hotel  stay  staff  good   nt  great  night  would  clean
D1   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D2   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D3   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0

In [515]:
a_series = pd.Series(sum, index = tfidf.columns)
tfidf = tfidf.append(a_series, ignore_index=True)

In [517]:
as_list = tfidf.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
tfidf.index = as_list

In [519]:
tfidf.to_csv('.\\features\\tfidf.csv', index=False)

### Tfidf of all using tf idf vectorizer

In [2]:
# read dataset
df=pd.read_csv('.\\features\\afterPNN.csv',header='infer')

In [3]:
df.head(10)

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score,PositiveCount,NegativeCount,NeutralCount
0,AVwdXmLw_7pvs4fz5KVd,Enjoyed stay hotel . clean please dcor . reall...,1,0,0.622222,9,0,23
1,436940785,B & ; B 200 step entrance Tower Pisa ( additio...,1,3,0.572321,10,1,44
2,234750221,wife one nighter nola oct 15 ( part 25th anniv...,1,4,0.615556,13,3,63
3,425325848,One tell aspect quality hotel people - knowled...,1,0,0.477500,9,1,84
4,80516690,"freindly staff , helpful suggestion courteous ...",1,0,0.750000,2,0,21
5,299280616,"classic hotel simply . Great location , large ...",1,0,0.429762,8,1,65
6,129532634,celebrate mother lawâs 80th birthday along b...,1,0,0.474833,10,2,54
7,148340394,stay 3 friend go see Motorhead 02 location gre...,1,1,0.603214,7,0,37
8,360880081,"solo traveller , would highly recommend B & ; ...",1,0,0.534348,18,1,77
9,26876156,fortunate enough marry Auberge Saint-Antoine ....,1,1,0.743519,20,0,62

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
r_txt=df['ReviewText']

In [101]:
vectorizer = TfidfVectorizer(lowercase=False,token_pattern='(?u)(\w+)[^\0-9+][!@#$%^&*()_+\\-=\\[\\]{};:\"\\\\|,.<>\\/?] | ^\D+ |^0-9')

In [102]:
X = vectorizer.fit_transform(r_txt)

In [109]:
len(vectorizer.get_feature_names())

1040

In [104]:
print(vectorizer.get_feature_names())

['10year', '17t', '20mi', '2n', '3', '3r', '4sta', '6a', 'A', 'Alfons', 'Als', 'An', 'Annoyin', 'Antiqu', 'Apri', 'Arlingto', 'Au', 'Av', 'B', 'BE', 'BT', 'BYO', 'Ba', 'Bathroo', 'Bea', 'Beac', 'Bernar', 'Bibend', 'Blackcom', 'Breakfas', 'Bt', 'Buildin', 'C', 'CA', 'CAVEAT', 'Cali', 'Californi', 'Canad', 'Champlai', 'Chang', 'Charlie', 'Chea', 'Chec', 'Christma', 'Chut', 'Circl', 'Cit', 'Civilizatio', 'Clea', 'Cobour', 'Complaint', 'Con', 'Conclusio', 'Cottag', 'D', 'De', 'Des', 'Dieg', 'Doo', 'Downer', 'Downtow', 'Englis', 'Europ', 'Expres', 'F', 'FE', 'Factor', 'Failmon', 'Fe', 'Finall', 'Firs', 'Fl', 'Fout', 'Fr', 'Fra', 'Francisc', 'Frida', 'Fridg', 'G', 'GOO', 'Garde', 'Gatherin', 'Glute', 'Goo', 'Gril', 'Groov', 'Grov', 'Guerrazz', 'Hill', 'Hop', 'Hote', 'Hous', 'I', 'IImatt', 'In', 'Ital', 'J', 'Ja', 'Jacuzz', 'Jul', 'K', 'Kin', 'Kitche', 'Koreatow', 'L', 'LGBT', 'Leasid', 'Livorn', 'Locatio', 'Loung', 'Lucc', 'M', 'MANAGE', 'Ma', 'Manage', 'Mancheste', 'Mano', 'Mansio', 'Milan', 'Monic', 'Mountainsid', 'Mr', 'Museu', 'N', 'NOISE', 'NOT', 'NY', 'Negative', 'Nic', 'Nicol', 'No', 'Nois', 'Nol', 'O', 'Oc', 'Office', 'Ol', 'Olde', 'Ou', 'Overal', 'Overvie', 'P', 'PARKIN', 'PLU', 'POINT', 'POO', 'Panach', 'Paradis', 'Parkin', 'Picadill', 'Pierr', 'Pis', 'PisaMove', 'Plac', 'Plu', 'Poo', 'Prior', 'Pro', 'Quarte', 'Quebe', 'ROOM', 'Reall', 'Receptio', 'Restauran', 'Retr', 'Rom', 'Roo', 'Room', 'Roomzz', 'S', 'STAF', 'SUITE', 'Sa', 'Saffro', 'Sain', 'Sep', 'Seriousl', 'Servic', 'Shiats', 'Siz', 'Sorian', 'Staf', 'Ste', 'Step', 'Stil', 'Stor', 'Stree', 'THI', 'Tani', 'Tax', 'Taxi', 'Te', 'The', 'Tip', 'To', 'Toront', 'Tow', 'Towe', 'TravelRepubli', 'Travelzo', 'Tue', 'Tuscan', 'US', 'V', 'Valle', 'Vancouve', 'Venic', 'W', 'WARNIN', 'WIF', 'Wa', 'Wat', 'We', 'Whar', 'Whistle', 'WiF', 'Wif', 'Ye', 'Zo', '_lik', '_nothin', 'a', 'abou', 'acces', 'accommodatin', 'accommodatio', 'accomodatin', 'additio', 'adequat', 'affai', 'afte', 'afternoo', 'ag', 'agai', 'ai', 'airconditione', 'airfreshene', 'airpor', 'al', 'alcoho', 'allowanc', 'alon', 'als', 'alway', 'amazin', 'ambianc', 'amenitie', 'ammenitie', 'an', 'anniversar', 'anywher', 'apartment', 'appetise', 'appetize', 'appetizer', 'appropriat', 'are', 'area', 'aroun', 'arrive', 'as', 'atmospher', 'attitud', 'attract', 'attraction', 'av', 'availabl', 'averag', 'awa', 'awfu', 'awkwar', 'b', 'ba', 'bab', 'bac', 'baco', 'balcon', 'bar', 'bartende', 'basi', 'bathroo', 'bathroom', 'be', 'beac', 'beachsid', 'beam', 'beautifu', 'becaus', 'bed', 'bedroo', 'bee', 'belo', 'bes', 'bette', 'bi', 'bide', 'biggi', 'bik', 'birdhous', 'bit', 'bite', 'blac', 'blanket', 'blv', 'bo', 'boar', 'bonu', 'boo', 'booke', 'bothe', 'bread', 'breakfas', 'breakfast', 'breakfastMINU', 'breat', 'broke', 'bu', 'buffe', 'buildin', 'buiscuit', 'bummer', 'burge', 'busines', 'butle', 'c', 'ca', 'caf', 'calcificatio', 'cappucin', 'car', 'care', 'carhir', 'carpe', 'carton', 'ceilin', 'cella', 'cente', 'centr', 'centra', 'cerea', 'cha', 'chair', 'characte', 'charg', 'charmin', 'charret', 'chea', 'cheape', 'chec', 'checkou', 'chees', 'chille', 'choic', 'cit', 'clai', 'clas', 'class', 'clea', 'cleane', 'cler', 'clinica', 'clos', 'close', 'co', 'code', 'coffe', 'col', 'com', 'comb', 'comfortabl', 'commen', 'compensatio', 'complain', 'complaint', 'compute', 'con', 'concierg', 'concierge', 'conclusio', 'conditio', 'conditione', 'conferenc', 'confortabl', 'confusio', 'connectionT', 'constructio', 'contro', 'convenien', 'conventio', 'conversatio', 'cookie', 'cordia', 'cors', 'cottag', 'countr', 'coupl', 'course', 'coz', 'cracker', 'crampe', 'crea', 'crowde', 'curtai', 'curtain', 'cut', 'cyclin', 'd', 'da', 'damag', 'dar', 'dat', 'date', 'daughte', 'daughter', 'de', 'deal', 'debri', 'decen', 'deco', 'decorate', 'decoratio', 'deliciou', 'delivere', 'des', 'describe', 'desig', 'detai', 'di', 'dieg', 'dime', 'din', 'dinge', 'dinin', 'direction', 'dis', 'disappoin', 'disappointe', 'disappointin', 'disappointmen', 'disrepai', 'dog', 'dollar', 'doo', 'door', 'doorwa', 'doubl', 'dow', 'downstair', 'downtow', 'dresse', 'drink', 'drivin', 'duck', 'dum', 'e', 'ea', 'eas', 'easil', 'efficientRoo', 'egg', 'encountere', 'enforce', 'enjo', 'enjoye', 'enoug', 'environmen', 'equipmen', 'especiall', 'et', 'euro', 'eve', 'evenin', 'evening', 'eventsOka', 'everythin', 'everywher', 'exampl', 'excellen', 'exceptiona', 'exis', 'expectationsLocatio', 'expecte', 'expense', 'expensiv', 'experienc', 'explore', 'explorin', 'extensiv', 'extr', 'extra', 'ey', 'eyelashe', 'f', 'fa', 'fabri', 'fabulou', 'facilitie', 'fai', 'familie', 'fantasti', 'far', 'faulte', 'favo', 'fe', 'featur', 'fece', 'feelin', 'fi', 'fil', 'filth', 'fin', 'finall', 'finis', 'fla', 'fligh', 'floo', 'florenc', 'fo', 'focuse', 'foo', 'food', 'fores', 'fr', 'fra', 'fram', 'freewa', 'freshl', 'fridg', 'fridge', 'friend', 'friendl', 'fro', 'fromCon', 'frui', 'frustratin', 'fu', 'ful', 'futur', 'garag', 'ge', 'gender', 'getawa', 'gin', 'gir', 'goin', 'goo', 'goodBathroo', 'goodTowel', 'grea', 'gree', 'ground', 'gru', 'guar', 'guest', 'gy', 'ha', 'hal', 'hallway', 'har', 'hassl', 'hav', 'hea', 'headquarter', 'heate', 'heavenl', 'helpe', 'helpfu', 'helpful', 'her', 'hiddenOnPageLoa', 'hig', 'highwa', 'hikingFirepit', 'hil', 'hin', 'histor', 'ho', 'honeymoo', 'hos', 'hostes', 'hote', 'hotel', 'hotte', 'hou', 'hous', 'howeve', 'hug', 'hun', 'i', 'idea', 'il', 'impossibl', 'improve', 'in', 'include', 'indoo', 'informatio', 'initiall', 'instea', 'int', 'interes', 'interestin', 'interio', 'interne', 'isolate', 'item', 'iv', 'j', 'jet', 'jo', 'juice', 'ke', 'kep', 'kicke', 'kid', 'kitche', 'lackin', 'lam', 'larg', 'las', 'le', 'ledg', 'lef', 'lesson', 'leve', 'li', 'lift', 'light', 'lightenin', 'lightin', 'lik', 'like', 'lin', 'lo', 'lobb', 'local', 'locate', 'locatio', 'location', 'lonel', 'loos', 'lou', 'loung', 'lovel', 'lunc', 'm', 'macdonald', 'mad', 'makeu', 'mal', 'manage', 'managemen', 'mansio', 'marke', 'massaus', 'mayb', 'meal', 'mean', 'medication', 'meeting', 'membershi', 'memorabl', 'men', 'mexica', 'mi', 'mic', 'microwav', 'min', 'minut', 'minute', 'mirro', 'mirror', 'miserabl', 'moa', 'mobilin', 'mone', 'mor', 'mornin', 'mothe', 'mountai', 'mp', 'mr', 'muc', 'mus', 'n', 'nam', 'ne', 'nee', 'need', 'neede', 'negativ', 'neighbor', 'neighborhood', 'newnes', 'nic', 'nigh', 'night', 'no', 'nois', 'non', 'not', 'notc', 'o', 'oatmea', 'of', 'offer', 'oka', 'ol', 'on', 'onc', 'onclic', 'onl', 'ope', 'opene', 'opposit', 'option', 'or', 'ordere', 'otherwis', 'ou', 'our', 'ourselve', 'outdatedT', 'outdoo', 'outrageou', 'outsid', 'outstandin', 'overal', 'overhea', 'overpowerin', 'overru', 'ow', 'owner', 'p', 'pad', 'pain', 'pape', 'par', 'parkin', 'part', 'participant', 'partier', 'pas', 'password', 'patien', 'paye', 'pe', 'peopl', 'perfec', 'perso', 'persona', 'personne', 'perspectiv', 'phon', 'piccadill', 'pie', 'place', 'planne', 'plaz', 'plu', 'poin', 'point', 'poo', 'pos', 'possibl', 'ppp', 'pr', 'pressur', 'prett', 'previousl', 'pric', 'price', 'pricin', 'principl', 'probabl', 'proble', 'problem', 'proces', 'product', 'properl', 'propert', 'propertie', 'provid', 'qualitie', 'quee', 'questio', 'question', 'quickl', 'quie', 'rabbi', 'raise', 'rat', 'rate', 'ratin', 're', 'read', 'realit', 'reall', 'recentl', 'receptio', 'receptionis', 'recommen', 'refine', 'refrigerato', 'relaxin', 'relie', 'renovate', 'rep', 'replacemen', 'reques', 'reservatio', 'resor', 'restauran', 'restaurant', 'resurfacin', 'ri', 'rid', 'righ', 'rive', 'roa', 'roo', 'room', 'router', 'ru', 'rud', 'rus', 's', 'sa', 'saf', 'safe', 'salmo', 'sandpape', 'sandpaper', 'saun', 'sausag', 'sausage', 'say', 'sayin', 'scree', 'scrub', 'se', 'seaso', 'see', 'sel', 'selectio', 'senior', 'serve', 'servic', 'service', 'settin', 'sham', 'sharin', 'shi', 'shop', 'shoppin', 'shoutin', 'showe', 'shutter', 'side', 'sig', 'simpl', 'simultaneousl', 'sin', 'sit', 'sittin', 'situate', 'situatio', 'siz', 'slee', 'sleepe', 'sleepin', 'smal', 'smil', 'smudge', 'soa', 'someon', 'soo', 'sore', 'soun', 'sp', 'spac', 'specia', 'spee', 'speed', 'splitter', 'squar', 'sta', 'staf', 'staffNegativ', 'stair', 'standard', 'star', 'starche', 'state', 'statio', 'step', 'stif', 'sto', 'stop', 'stor', 'stree', 'suc', 'suddenl', 'sugges', 'suggestion', 'sui', 'suit', 'summar', 'sunse', 'supe', 'super', 'superio', 'sur', 'surl', 'surpasse', 'surpris', 'surrounding', 'swi', 'swis', 't', 'tabl', 'tack', 'tax', 'taxe', 'te', 'tea', 'teapo', 'temperatur', 'terrac', 'terribl', 'tha', 'the', 'theate', 'them', 'ther', 'thermostati', 'thi', 'thin', 'thos', 'thoug', 'thre', 'thu', 'ti', 'tim', 'time', 'tin', 'tip', 'to', 'toboggan', 'togethe', 'toile', 'tor', 'tou', 'touc', 'tow', 'towe', 'towel', 'traffi', 'trai', 'trainin', 'transi', 'travele', 'travelle', 'treadmill', 'treatment', 'trip', 'tripl', 'tu', 'tuscan', 'tw', 'typica', 'u', 'unbelievabl', 'uncomfortabl', 'underneat', 'understaffe', 'unfriendl', 'uni', 'unimpressiv', 'unsaf', 'update', 'us', 'use', 'usua', 'utensi', 'v', 'vacatio', 'valu', 'varie', 'ver', 'vicinit', 'vie', 'vine', 'visi', 'visitin', 'w', 'wa', 'waffle', 'wal', 'walk', 'walkin', 'wall', 'war', 'wardrob', 'was', 'washbasi', 'wate', 'waterfron', 'wee', 'weeken', 'weekend', 'weeknigh', 'weir', 'wel', 'welcomin', 'wer', 'whatsoeve', 'whi', 'whoooosssh', 'wif', 'win', 'windo', 'window', 'winte', 'wit', 'wonderfu', 'wor', 'work', 'worke', 'workin', 'wors', 'wron', 'y', 'ye', 'yea', 'year', 'yesLaundr', 'yog', 'yoghur', 'zone']

In [106]:
X=X.astype(np.uint8)
X=X.todense()

In [107]:
tdf=pd.DataFrame(X,columns=vectorizer.get_feature_names())
tdf.head(20)

,10year,17t,20mi,2n,3,3r,4sta,6a,A,Alfons,...,wors,wron,y,ye,yea,year,yesLaundr,yog,yoghur,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
tdf.shape

(41028, 1040)

In [108]:
tdf.to_csv('.\\features\\updatedtfidf.csv',index=False)