In [19]:
# libraries
import pandas as pd
import string
import numpy as np
from nltk.tokenize import word_tokenize

In [4]:
import os
os.listdir('.\\processed\\Split_Data\\Splitted')

['test.csv', 'train.csv', 'validate.csv']

In [12]:
df=pd.read_csv('.\\processed\\Split_Data\\Splitted\\train.csv',low_memory=False)

In [13]:
rTxt=df.iloc[:,1]

In [14]:
print(len(rTxt))

41028

In [108]:
a=['Hello awais : how ! are ? yo:u:::??','Hello bro : how ! are ? you?!$$?','dhfoishfo']

In [33]:
import numpy as np

In [8]:
## count=0
finalcount=[]
for i in range(0,len(rTxt)):
    newcount=[]
    count=0
    for j in range(0,len(rTxt[i])):
        if rTxt[i][j] == ':' or rTxt[i][j] == '!' or rTxt[i][j] == '?':
            count=count+1
    finalcount.append(count)
# 
# for i in a:
#     if i == ':' or i == '!' or i == '?':
#         count=count+1

In [11]:
# df.insert(len(df.columns), 'Punctuations', finalcount)
# df.insert(len(df.columns), 'Punctuations', finalcount)
# df.drop('Subjectivity_Score', axis=1, inplace=True)
# # name=df.iloc[:,3]
# df.head()
len(df)
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations
0,496345724,"like hotel , walk distance almost everything ....",1,1
1,63423579,"one best place stay around st. john 's , close...",1,0
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0
3,157142537,ok hotel great location . Room dark little dat...,1,0
4,280247939,beautiful hotel staff really go way make welco...,1,0

In [12]:
df.to_csv('.\\features\\afterPunctuations.csv', index=False)
print('removed col and added it back in')

removed col and added it back in

### Subjectivity Score

In [13]:
df=pd.read_csv('.\\features\\afterPunctuations.csv',low_memory=False)

In [14]:
df.head(3)

,ReviewID,ReviewText,Sentiments,Punctuations
0,496345724,"like hotel , walk distance almost everything ....",1,1
1,63423579,"one best place stay around st. john 's , close...",1,0
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0

In [122]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\awais\anaconda3\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: regex in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: tqdm in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Requirement already satisfied: click in c:\users\awais\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [15]:
from textblob import TextBlob

In [19]:
blob=TextBlob(" The rooms are very spacious and well maintained but i could say that no its bad")
print(blob.sentiment)

Sentiment(polarity=-0.24999999999999992, subjectivity=0.4833333333333333)

In [15]:
r_txt=df['ReviewText']

In [16]:
r_txt

0        like hotel , walk distance almost everything ....
1        one best place stay around st. john 's , close...
2        Stayed 3 day visit LACMA Getty . Great locatio...
3        ok hotel great location . Room dark little dat...
4        beautiful hotel staff really go way make welco...
                               ...
41023    return one night stay . room105 road noise unb...
41024    Average quality , staff try helpfull , hotel a...
41025    book hot wire 7 year anniversary actually exci...
41026    little Leary first Wyndham property last exper...
41027    husband stay hotel one night begin June - hone...
Name: ReviewText, Length: 41028, dtype: object

In [22]:
subjectivity=[]
for i in range(0,len(r_txt)):
    blob=TextBlob(r_txt[i])
    sub=blob.sentiment.subjectivity
    subjectivity.append(sub)
print(len(subjectivity))

41028

In [23]:
df.insert(len(df.columns), 'Subjectivity_Score', subjectivity)

In [24]:
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score
0,496345724,"like hotel , walk distance almost everything ....",1,1,0.683333
1,63423579,"one best place stay around st. john 's , close...",1,0,0.510000
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0,0.572222
3,157142537,ok hotel great location . Room dark little dat...,1,0,0.643750
4,280247939,beautiful hotel staff really go way make welco...,1,0,0.621212

In [25]:
df.to_csv('.\\features\\aftersubjectivity.csv', index=False)
print('removed col and added it back in')

removed col and added it back in

### Count of words with +ve,-ve and ~ sentiments in docs

In [47]:
df=pd.read_csv('.\\features\\aftersubjectivity.csv',header='infer')
rTxt=df['ReviewText']

In [7]:
# loading positve lexicon
f = open(".\\datasets\\lexicons\\pos.txt", "r")
poslex=[]
for i in f:
    poslex.append(i.strip())

In [9]:
# loading negative lexicon
f = open(".\\datasets\\lexicons\\neg.txt", "r")
neglex=[]
for i in f:
    neglex.append(i.strip())

In [43]:
positiveCount=[]
negativeCount=[]
neutralCount=[]
for i in range(0,len(rTxt)):
    word_tokens = word_tokenize(r_txt[i])
    temppos=0
    tempneg=0
    tempneu=0
    for token in word_tokens:
        if token not in punctuations:
            if token in poslex:
                temppos=temppos+1
                continue
            elif token in neglex:
                tempneg=tempneg+1
                continue
            else:
                tempneu=tempneu+1
                continue
    positiveCount.append(temppos)
    negativeCount.append(tempneg)
    neutralCount.append(tempneu)

In [48]:
# update dataframe and store to excel
df.insert(len(df.columns), 'PositiveCount', positiveCount)
df.insert(len(df.columns), 'NegativeCount', negativeCount)
df.insert(len(df.columns), 'NeutralCount', neutralCount)
# store the dataframe to csv
df.to_csv('.\\features\\afterPNN.csv', index=False)
df.head()

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score,PositiveCount,NegativeCount,NeutralCount
0,496345724,"like hotel , walk distance almost everything ....",1,1,0.683333,8,4,58
1,63423579,"one best place stay around st. john 's , close...",1,0,0.510000,4,0,21
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0,0.572222,4,0,37
3,157142537,ok hotel great location . Room dark little dat...,1,0,0.643750,3,2,22
4,280247939,beautiful hotel staff really go way make welco...,1,0,0.621212,6,2,34

### TF-IDF of top 10 recurring words

In [269]:
df=pd.read_csv('.\\features\\aftersubjectivity.csv',header='infer')
df.head(5)

,ReviewID,ReviewText,Sentiments,Punctuations,Subjectivity_Score
0,496345724,"like hotel , walk distance almost everything ....",1,1,0.683333
1,63423579,"one best place stay around st. john 's , close...",1,0,0.510000
2,278082769,Stayed 3 day visit LACMA Getty . Great locatio...,1,0,0.572222
3,157142537,ok hotel great location . Room dark little dat...,1,0,0.643750
4,280247939,beautiful hotel staff really go way make welco...,1,0,0.621212

In [310]:
d1=df.loc[df['Sentiments']==1] #d1 is positive documnet
d2=df.loc[df['Sentiments']==-1] #d2 is negative documnet
d3=df.loc[df['Sentiments']==0] #d3 is neutral documnet

In [277]:
pUni=d1['ReviewText'].str.split(' ', expand=True).stack().unique()
len(pUni)

59861

In [278]:
doc1=[]
for i in pUni:
    if i not in string.punctuation:
        doc1.append(i.lower())

In [279]:
print(len(doc1))

59831

In [280]:
negUni=d2['ReviewText'].str.split(' ', expand=True).stack().unique()
len(negUni)

17562

In [281]:
doc2=[]
for i in negUni:
    if i not in string.punctuation:
        doc2.append(i.lower())

In [282]:
print(len(doc2))

17535

In [283]:
neuUni=d3['ReviewText'].str.split(' ', expand=True).stack().unique()
len(neuUni)

22848

In [284]:
doc3=[]
for i in neuUni:
    if i not in string.punctuation:
        doc3.append(i.lower())
print(len(doc3))

22818

In [285]:
rTxt=df['ReviewText']

In [286]:
# getting top 10 recurring words
from itertools import chain
unlist="".join(str(i) for i in chain(*rTxt))

In [21]:
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

In [288]:
# remove punctuation from the string
no_punct = ""
for char in unlist:
   if char not in punctuations:
       no_punct = no_punct + char
# display the unpunctuated string
print(no_punct)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [289]:
from collections import Counter
word_list = no_punct.split()
word_count = Counter(word_list)

In [449]:
# top 10 recuring words in the dataset
a=[]
temp=word_count.most_common(10)
for i in temp:
    print(i[0])
    a.append(i[0])
# a[5] is nt which means not

room
hotel
stay
staff
good
nt
great
night
would
clean

In [306]:
# tf - term frequency
# formulae : tf=no of times term t appears in a document/ total number of terms in the document
textfile = open(".\\neg.txt", "w", encoding="utf-8")
for element in doc2:
    textfile.write(element + "\n")
textfile.close()

In [393]:
# for doc1
d1=[]
for i in a:
    print(doc1.count(i))
    d1.append(doc1.count(i)/len(doc1))

4
5
3
6
3
2
3
3
3
4

In [392]:
# for doc2
d2=[]
for i in a:
    print(doc2.count(i))
    d2.append(doc2.count(i)/len(doc2))
print(d2)

3
3
3
3
3
1
3
3
3
3
[0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 5.70287995437696e-05, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882, 0.00017108639863130882]

In [391]:
# for doc3
d3=[]
for i in a:
    temp=doc3.count(i)
    temp=temp/len(doc3)
    print(temp)
    d3.append(temp)

0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
4.382505039880796e-05
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388
0.00013147515119642388

In [454]:
tfmat=pd.DataFrame(columns=a)

In [457]:
a_series = pd.Series(d3, index = tfmat.columns)
tfmat = tfmat.append(a_series, ignore_index=True)

In [458]:
as_list = tfmat.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
tfmat.index = as_list

In [459]:
tfmat.head()

,room,hotel,stay,staff,good,nt,great,night,would,clean
D1,0.000067,0.000084,0.000050,0.000100,0.000050,0.000033,0.000050,0.000050,0.000050,0.000067
D2,0.000171,0.000171,0.000171,0.000171,0.000171,0.000057,0.000171,0.000171,0.000171,0.000171
D3,0.000131,0.000131,0.000131,0.000131,0.000131,0.000044,0.000131,0.000131,0.000131,0.000131

In [370]:
idf1=[]
for t in a:
    temp=3/3
    idf1.append(temp)

In [476]:
idfmat=pd.DataFrame(columns=a)

In [485]:
idfmat.head()

    room  hotel  stay  staff  good   nt  great  night  would  clean
D1   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D2   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D3   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0

In [484]:
as_list = idfmat.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
idfmat.index = as_list

In [496]:
l1=[]
l2=[]
l3=[]
for i in a:
    if i in doc1 and i in doc2 and i in doc3:
        l1.append(np.log10(3/3))
        l2.append(np.log2(3/3))
        l3.append(np.log2(3/3))

In [480]:
a_series = pd.Series(l3, index = idfmat.columns)
idfmat = idfmat.append(a_series, ignore_index=True)

In [ ]:
# tf idf matrix

In [497]:
sum=[]
for i in range(0,len(d1)):
    sum.append(d1[i]*l1[i])
print(sum)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [511]:
tfidf=pd.DataFrame(columns=a)

Empty DataFrame
Columns: [room, hotel, stay, staff, good, nt, great, night, would, clean]
Index: []

In [518]:
tfidf.head()

    room  hotel  stay  staff  good   nt  great  night  would  clean
D1   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D2   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0
D3   0.0    0.0   0.0    0.0   0.0  0.0    0.0    0.0    0.0    0.0

In [515]:
a_series = pd.Series(sum, index = tfidf.columns)
tfidf = tfidf.append(a_series, ignore_index=True)

In [517]:
as_list = tfidf.index.tolist()
as_list[0] = 'D1'
as_list[1] = 'D2'
as_list[2] = 'D3'
tfidf.index = as_list

In [519]:
tfidf.to_csv('.\\features\\tfidf.csv', index=False)